  <!-- Emergency Floating Button -->
  <button id="emergencyBtn" class="btn btn-danger rounded-circle shadow">🚑</button>

  <!-- Emergency Modal -->
  <div class="modal fade" id="emergencyModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-3">
        <div class="modal-header">
          <h5 class="modal-title text-danger">🚨 Emergency Help</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="row g-3 text-center">
            <div class="col-md-4">
              <div class="p-3 border rounded bg-light">
                <h6>Nearest Hospital</h6>
                <button class="btn btn-danger btn-sm">Show Map</button>
              </div>
            </div>
            <div class="col-md-4">
              <div class="p-3 border rounded bg-light">
                <h6>Call Ambulance</h6>
                <button class="btn btn-danger btn-sm">Call Now</button>
              </div>
            </div>
            <div class="col-md-4">
              <div class="p-3 border rounded bg-light">
                <h6>Urgent Checkup</h6>
                <button class="btn btn-danger btn-sm">Book Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>